<div style='border: 3px dashed red'>
  <img src='https://media.npr.org/assets/img/2017/05/19/543388_67338_orig_custom-ba0e447e41102bea4e3de3b4375b4a03260b586e-s800-c85.jpg'>
  <h1>My name is <%= ["Amigo", "Misty", "Almond"].sample %></h1>
  </div>