
  <div style='border: 3px dashed red'>
  <% if @name %>
    <h1> My name is <%= @name %> </h1>
    <% end %>
    <form action="/named-cat" method="get">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  
    <img src='https://media.npr.org/assets/img/2017/05/19/543388_67338_orig_custom-ba0e447e41102bea4e3de3b4375b4a03260b586e-s800-c85.jpg'>
  </div>